<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
</head>
<body>
    <a href="index.html"></a>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre de Usuario</label>
            <input type="text" placeholder="Nombre de Usuario" name="username">
        </div>
       <div class="form-group">
           <label>Contraseña</label>
           <input type="password" placeholder="Nombre de Usuario" name="password">
       </div>
       <button type="submit">Iniciar Sesión</button>
     
    </form>
</body>
</html>